html, body {
  margin: 0;
  padding: 0;
  background-color: #d6d6d6;
}

.header {
  background-color: #424242;
  height: 200px;
  padding: 0;
}

.main {
  background-color: #ededed;
  height: 800px;
  margin-left: 200px;
  margin-right: 200px;
}

.footer {
  background-color: #212121;
  height: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
